@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.icon-folder {
    background: url('./assets//icons/icon-folder.svg') center no-repeat;
}

.icon-arrow-up-tray {
    background: url('./assets//icons/icon-arrow-up-tray.svg') center no-repeat;
}